.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore folders
*delete/
*cache/
20*/
data_rca/
literature*/
report*/

# ignore more files
.DS_Store
*.html
*.pdf
*.pptx
notes*
Taxa_group_*.xlsx

# ignore large files
rca_ts_1986-2015_2.csv
rca_ts_1986-2015_2_biomassCellID.csv
