.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore folders
Allison*/
*delete/
*cache/
20*/
data_rca/
dataderived/
literature*/
report*/

# ignore more files
.DS_Store
*.html
*_files/
*/rsconnect/
*.pdf
*.pptx
notes*
Taxa_group_*.xlsx

# ignore large files
rca_ts_1986-2015_2.csv
rca_ts_1986-2015_2_biomassCellID.csv
